.left-panel {

    height: 100vh;
    width: 20vw;
    background-color: rgb(250, 250, 250)
}

.central-panel {

    height: 100vh;
    width: 80vw;
    background-color: rgb(215, 215, 224);
}

.container {
    display: flex;
}

.left-panel {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu-lateral-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-lateral-inferior {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.central-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textos {

    display: flex;
  
    text-align: center;


}

.top{
    flex-direction: column;
    display: flex;
    border-radius: 25px;
    border: none;
    width: 240px
}

.bottom {

    flex-direction: column;
    display: flex;

}

.btn-chat
{
    
    display: flex; /* Usa o modelo Flexbox para organizar os elementos */
    flex-direction: row; /* Organiza os elementos em linhas */
    align-items: center; /* Centraliza verticalmente */ 
    

}

.btn-chat img{
    margin-right: 14px;
}

